.reword {
    padding: 0.1em 0.3em;
    color: black;
    display: inline-block;
    border-radius: 0.2em;
}

.reword-block + .reword-block {
    margin-top: 0.5em;
}

.reword-num {
    font-weight: bold;
    color: black;
    display: inline-block;
    padding-left: 0.4em;
}

.reword-credit {
    background-color: #ffc600;
}

.reword-uncommon {
    background-color: #14bbe7;
}

.reword-rare {
    background-color: #cd71e4;
}

.reword-epic {
    background-color: #ffd800;
}
