.buy {
    background-color: #b4ed00;
}

.buy:active {
    background-color: #040f25;
    color: #c3fb12;
}

.simulator {
    max-width: 768px;
    margin: 0 auto;
}

.navbar {
    background-color: #030e24;
    color: #303030;
}



body {
    /*padding: 1em;*/
}

.sub-title {
    font-size: 1.5em;
    /*border-left: #e40754 0.3em solid;*/
    padding-left: 0.3em;
    margin-bottom: 0.7em;
    color: #303030;
}

.content-body {
    margin-bottom: 2em;
}

.garage {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    color: #303030;
}

.pack-title {
    font-size: 1.2em;
}


.pack-content {
    text-align: center;
    font-size: 168px;
}

.token {
    background-color: #0e90f2;
}

.coin-item {
    background-color: #fff;
    margin: 0 10px;
    padding: 10px 15px;
    border-radius: 100px;
    max-width: 50%;
}

.coin-value {
    margin-left: auto;
}


.total-kejin {
    margin-left: 10px;
    color: #909090;
}
