.buy{
    background-color: #c3fb12;
}

.navbar,body{
    background-color: #030e24;
    color:white;
}

body{
    padding: 1em;
}

.sub-title{
    font-size: 1.5em;
}

.pack-title{
    font-size: 1.2em;
}

.pack-description,.pack-content{
    padding-bottom: 1em;
}

.pack-content{
    text-align: center;
    font-size: 1.2em;
}

.token{
    background-color: #0e90f2;
}

.star-yellow{
    color:#fff34a;
}

.star-grey{
    color:#808080;
}

.last-name{
    font-weight:bold;
}

.car-card+.car-card{
    margin-top:0.5em;
}

.star-block{
    display: inline-block;
    width:9em;
}

.card-process{
    display: inline-block;
    width:5em;
}
