.buy{
    background-color: #b4ed00;
}

.simulator{
    max-width: 768px;
    margin:0 auto;
}

.navbar,body{
    background-color: #030e24;
    color:white;
}

body{
    padding: 1em;
}

.sub-title{
    font-size: 1.5em;
    border-left: #e40754 0.3em solid;
    padding-left: 0.3em;
}

.pack-title{
    font-size: 1.2em;
}

.pack-description,.pack-content{
    padding-bottom: 1em;
}

.pack-content{
    text-align: center;
    font-size: 1.2em;
}

.token{
    background-color: #0e90f2;
}

.star-yellow{
    color:#fff34a;
}

.star-grey{
    color:#808080;
}

.last-name{
    font-weight:bold;
}

.car-card+.car-card{
    margin-top:0.5em;
}

.star-block{
    display: inline-block;
    width:9em;
}

.card-process{
    display: inline-block;
    width:5em;
}
